nav {
  height: 50px;
  background-color: #FF8360;
  display: flex;
  justify-content: center;
  text-align: center;
  border-style: solid;
  border-color: #534D56;
  align-items: center;
}

main {
  background-color: #2B2D42;
}

.panels {
  display: flex;
  justify-content: space-between;
  align-items: column;
  text-align: center;
  height: 450px;
  padding: 15px;
}

.panel1 {
  padding: 10px;
  border-style: solid;
  background-color: #028090;
  width: 600px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.APIEl {
  margin-top: 20px;
}

.panel2 {
  border-style: solid;
  background-color: #F8F4E3;
  width: 600px;
  display: flex;
  flex-wrap: wrap;
  align-items: column;
  justify-content: center;
  
 
}

#map { 
  height: 350px; 
  width: 350px;
  margin: 50px;
}

footer {
  background-color: #2B2D42;
  border-style: solid;

  border-color: purple;
  padding: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

#APIElBody {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  border-color: #FF8360;
  padding: 20px;
  height: 20px;
}


html{
  scroll-behavior: smooth;

}