nav {
  height: 95px;
background-color: black;
  
  display: flex;
  justify-content: center;
  text-align: center;
  border-style: solid;
  border-color: #534D56;
  align-items: center;
  
}

main {
  background-color: #2B2D42;
  height: 100%;
}

.panels {
  display: flex;
  justify-content: space-between;
  align-items: column;
  text-align: center;
  height: 450px;
  padding: 15px;
}

.panel1 {
  padding: 10px;
  border-style: solid;
  border-radius: 10px;
  background-color: #028090;
  width: 300px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  background-color: black;
}




/* .panel2 {
  border-style: solid;
  background-color: #F8F4E3;
  width: 600px;
  display: flex;
  flex-wrap: wrap;
  align-items: column;
  justify-content: space-between;
} */

/* #map { 
  height: 350px; 
  width: 350px;
  margin: 50px;
} */

footer {
  background-color: #2B2D42;
  padding: 10px;
  display: flex;
  flex-direction: flex-start;
  justify-content: space-around;
}



.APIElBody {
  display: flex;
  flex-direction: column;
  justify-content: row;
  /* align-items: center; */
  background-image: url("https://www.piedmont.org/living-better/_controls/media/BlogImages/iStock_000049664402_470x260.jpg");
  padding: 20px;
  height: 20px;
}


html{
  scroll-behavior: smooth;

}