nav {

  height: 7vh;
  background-color: rgb(169, 209, 47);

  height: 95px;
background-color: black;
  
  display: flex;

  align-items: center;
  

  height: 10vh;
background-color: salmon;
  
  display: flex;
  justify-content: right;

  border-style: solid;
  border-color: #534D56;

  font-family: 'Abril Fatface', cursive;
font-family: 'Open Sans', sans-serif;
margin: 10%;
padding-right: 20px;

}

main {
  background-color: #2B2D42;




  height: 100%;
  font-family: 'Abril Fatface', cursive;
font-family: 'Open Sans', sans-serif;

}

.panels {
  display: flex;
  justify-content: space-around;
  align-items: column;
  text-align: center;
  height: 450px;
  padding: 15px;


  
  background-color: purple;

}

/* .panel1 {
  padding: 10px;
  /* border-style: solid;
  border-radius: 10px; */
  /* background-color: purple; */
  width: 300px;
  display: flex;
  flex-direction: column;

  justify-content: flex-start;
  background-color: black;

  /* justify-content: flex-start; */
  /* background-color: black; */

}
 */

/* .panel2 {
  border-style: solid;
  background-color: #F8F4E3;
  width: 600px;
  display: flex;
  flex-wrap: wrap;
  align-items: column;
  justify-content: space-between;
} */ */ */

/* #map { 
  height: 350px; 
  width: 350px;
  margin: 50px;
} */

footer {
  background-color: green;
  /* padding: 10px; */
  display: flex;
  flex-direction: flex-end;
  justify-content: space-around;
  font-family: 'Abril Fatface', cursive;
  font-family: 'Open Sans', sans-serif;
}



.APIElBody {
  display: flex;
  flex-direction: column;
  justify-content: row;
  /* align-items: center; */
  background-image: url("https://www.piedmont.org/living-better/_controls/media/BlogImages/iStock_000049664402_470x260.jpg");
  padding: 20px;
  height: 20px;
  overflow: scroll;
}



html{
  scroll-behavior: smooth;

};




